<section ng-controller="registerController">
    <form role="form" ng-submit="register()">
        <div class="form-group">
            <label for="username">邮箱</label>
            <input type="email" class="form-control" id="username" ng-model="user.username">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" ng-modle="user.password" placeholder="随你写几位 ʅ(‾◡◝)ʃ ">
        </div>
        <div class="form-group">
            <label for="confirm_password">确认密码</label>
            <input type="password" class="form-control" id="confirm_password" placeholder="">
        </div>
        <button type="submit" class="btn btn-default">注册</button>
    </form>
</section>